/* Google Font import */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");

:root {
  --general-border: solid 1px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

h1 {
  font-size: 60px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 400;
  color: #222;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.container {
  padding: 0 40px;
}

@media (max-width: 799px) {
  .container {
    padding: 0 20px;
  }
}

/* ---- Header Start ----- */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 40px;
  border-top: var(--general-border);
  border-bottom: var(--general-border);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#navbar li a {
  color: black;
  text-decoration: none;

  font-size: 18px;
  font-weight: 200;
  color: #4b4b4b;
  transition: all 0.1s ease-in;
  text-transform: uppercase;
}
.header-left {
  width: 22%;
}
.header-right {
  width: 22%;
}

#navbar li a:hover,
#navbar li a.active {
  font-weight: 500;
  position: relative;
  color: black;
}

.logo {
  width: 100px;
  overflow: hidden;
}
.header-hamburger {
  display: none;
}

#signed-in-user {
  display: none;
}

#signed-in-user i {
  font-style: unset;
  text-decoration: none;
}

/* ----- Cart sidebar ----- */

.cart-sidebar {
  position: absolute;
  background-color: rgba(255, 255, 255);
  top: 69px;
  right: 0;

  width: 50%;
  border-left: var(--general-border);

  display: none;
}

.cart-pro .img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-right: var(--general-border);
}

.cart-pro img {
  height: 100%;

  vertical-align: bottom;
}

.cart-pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--general-border);
}

.cart-pro .cart-desc {
  height: 150px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  position: relative;
}

.cart-sidebar h3 {
  padding: 20px 40px;
  width: 100%;
  border-bottom: var(--general-border);
}

.cart-pro .pro-name span {
  color: #4b4b4b;
  margin: 10px 0;
  font-weight: 300;
}

.cart-pro .pro-name h4 {
  margin: 15px 0;
  font-size: 1.4rem;
}

.cart-pro .pro-minus,
.pro-plus {
  border: solid 1px black;
  display: inline-block;
  padding: 0 4.5px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.cart-pro .pro-count {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  width: 30px;

  text-align: center;
}

.cart-pro .pro-minus:hover,
.cart-pro .pro-plus:hover {
  background-color: black;
  color: white;
}

.cart-pro .pro-price h5 {
  margin-top: 80px;
}

.cart-pro .pro-price a:hover {
  color: black;
}

.cart-desc .remove-pro {
  position: absolute;
  height: 25px;
  width: 25px;
  display: block;
  border: solid 1px black;
  text-align: center;
  line-height: 25px;
  top: 0px;
  right: -5px;
  transition: all 0.1s ease-in;
}

.cart-desc .remove-pro:hover {
  background-color: black;
  color: white;
}

.cart-sidebar .checkout {
  height: 120px;
  border-bottom: var(--general-border);
  padding: 20px 30px;
}

.cart-sidebar .checkout .cart-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.checkout .cart-subtotal h5 {
  font-size: 1.2rem;
}

.checkout input {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 40px;
  border: solid 1px black;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.1s ease-in;
}

.checkout input:hover {
  background-color: black;
  color: white;
}

@media (max-width: 799px) {
  .header-hamburger {
    display: block;
  }

  #header {
    padding: 0 20px;
    position: sticky;
  }

  #navbar {
    display: block;
    width: 100%;
    height: 140px;
    background-color: rgba(255, 255, 255);
  }

  #navbar li a {
    display: block;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 200;
  }
  #navbar li {
    border-bottom: var(--general-border);
  }

  .header-logo {
    width: 65%;
  }

  .header-left {
    width: 100%;
    position: absolute;
    top: 68px;
    right: 0px;
    left: 0px;
    border-top: var(--general-border);
    display: none;
  }

  .header-right {
    width: 100%;
    position: absolute;
    top: 208px;
    right: 0px;
    left: 0px;
    border-top: var(--general-border);
    display: none;
  }

  .logo {
    width: 75px;
  }

  .header-hamburger i {
    text-decoration: none;
    color: black;
    font-size: 22px;
  }
  .cart-sidebar {
    width: 100%;
    border-left: unset;
  }

  .cart-sidebar h3 {
    padding: 20px 20px;
  }
  .cart-pro .desc {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

/* --- Header end --- */

/* --------------------------------  HOME PAGE  ----------------------------------------- */

/* --- Hero start --- */

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 800px; */
  border-bottom: var(--general-border);
}

#hero .hero-right {
  padding-top: 30px;
  border-left: var(--general-border);
  width: 50%;
  height: 50vw;
}

#hero .hero-left {
  padding-top: 30px;
  width: 50%;
  height: 50vw;
  position: relative;
}

#hero .hero-img {
  width: 100%;
  height: 100%;
  margin: -40px auto;
  padding: 40px;
  overflow: hidden;
}

#hero .hero-right img,
#hero .hero-left img {
  width: 100%;
}

#hero .hero-left .titles {
  position: absolute;
  padding: 50px;
  top: 0%;
}

#hero .hero-left .titles button {
  background-color: rgba(255, 255, 255, 0.527);
  width: 180px;
  height: 40px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

#hero .hero-left .titles button:hover {
  background-color: white;
}

@media (max-width: 700px) {
  #hero {
    flex-direction: column;
    border-bottom: unset;
    height: unset;
  }

  #hero .hero-right {
    padding: 20px 0;
    border-left: unset;
    width: 100%;
    height: 100%;
    border-bottom: var(--general-border);
  }

  #hero .hero-left {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: var(--general-border);
  }

  #hero .hero-img {
    width: 100%;
    height: 100%;
    margin: -20px auto;
    padding: 20px;
    overflow: hidden;
  }

  #hero .hero-left .titles {
    position: absolute;
    padding: 30px;
    top: 0%;
  }
}

/* --- Featured products  / Shop Page --- */

#product1 h3 {
  padding: 30px 40px;
  width: 100%;
  border-bottom: var(--general-border);
}

#product1 .featured-title {
  padding: 50px;
  height: 200px;
  border-bottom: var(--general-border);
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#product1 .pro {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: var(--general-border);
  border-bottom: var(--general-border);
}

#product1 .pro .img-container {
  position: relative;
  overflow: hidden;
  height: 25vw;
  width: 100%;
  border-bottom: var(--general-border);
}

#product1 .pro img {
  position: absolute;
  /* top: -40px; */
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

#product1 .pro .desc {
  padding: 5px 10px;
  display: block;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#product1 .pro .desc h4 {
  height: 40px;
}

#product1 .pro .desc .star {
  padding: 10px 0;
  font-size: 13px;
  color: darkgray;
}

.pro .star i:hover {
  color: black;
}

#product1 .pro .desc-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#product1 .pro .desc-price a {
  text-align: center;
  text-decoration: none;
  height: 30px;
  width: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(87, 87, 87);
  border: solid 1px black;
  transition: all 0.1s ease-in;
}

#product1 .pro .desc-price a:hover {
  color: white;
  background-color: black;
}

#product1 .pro .desc-brand {
  color: rgb(87, 87, 87);
  font-size: 0.85rem;
  font-weight: 300;
}

.pro:hover {
  cursor: pointer;
}

.pro:hover img {
  filter: brightness(0.9);
}

/* ------ START LOADING SPINNER ------- */

.loading-page {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* ------ END LOADING SPINNER ------- */

@media (max-width: 700px) {
  #product1 .featured-title {
    padding: 10px;
    height: unset;
  }

  #product1 .featured-title h2 {
    font-size: 30px;
  }

  #product1 .pro-container {
    flex-direction: column;
    height: unset;
  }
  #product1 .pro {
    width: 100%;
    height: unset;
    border-right: unset;
  }
  #product1 .pro img {
    border-bottom: var(--general-border);
  }

  #product1 .pro .img-container {
    position: relative;
    overflow: hidden;
    height: 100vw;
    width: 100%;
    border-bottom: var(--general-border);
  }

  #product1 .pro img {
    position: absolute;
    top: 0;
    max-width: unset;
    width: 100%;
    height: unset;
    vertical-align: unset;
  }

  #product1 .pro .desc {
    padding: 5px 10px 30px 10px;
    border-top: unset;
    height: unset;
  }
}

/* --- Services section --- */

.services {
  margin: auto;
  text-align: center;
}

.services-title {
  padding: 50px;
  border-bottom: var(--general-border);
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--general-border);
}

.services-img {
  width: 50%;
  border-left: var(--general-border);
  /* overflow: hidden; */
}

.services-img img {
  width: 100%;
  vertical-align: bottom;
}

.services-desc {
  height: 70%;
  width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase;
}

.services-desc h3 {
  font-weight: 400;
  margin: 30px;
}

@media (max-width: 880px) {
  .services-desc h3 {
    margin: 7px;
  }
}

@media (max-width: 700px) {
  .services-title {
    padding: 30px;
    border-bottom: var(--general-border);
  }

  .services-container {
    flex-direction: column;
  }

  .services-img {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }

  .services-img img {
    width: 100%;
  }

  .services-desc {
    height: unset;
    width: 100%;
    flex-direction: column;
    border-bottom: var(--general-border);
  }

  .services-desc h3 {
    font-size: 1.4rem;
    font-weight: 300;
    margin: unset;
  }
}

/* --- Delivery section ---  */

.delivery {
  width: 100%;
  height: 150px;
  background: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.delivery div {
  width: 10%;
  text-align: center;
}

.delivery h5 {
  color: white;
  font-weight: 300;
  font-size: 15px;
}

@media (max-width: 700px) {
  .delivery {
    height: 450px;
    flex-direction: column;
  }
  .delivery div {
    width: 40%;
  }
  .delivery div {
    margin: 20px 0;
  }
  .delivery h5 {
    color: white;
    font-weight: 200;
    font-size: 18px;
  }
}

/* --- Subscribe section --- */

.subscribe {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(208, 208, 208);
}

.subscribe input,
.subscribe button {
  border: unset;
  border-bottom: var(--general-border);
  background-color: unset;
  margin-left: 20px;
  font-size: 1rem;
}

.subscribe input:focus {
  outline: none;
}

.subscribe button {
  cursor: pointer;
}

.subscribe button:hover {
  font-weight: 600;
}

@media (max-width: 700px) {
  .subscribe {
    padding: 20px;
    flex-direction: column;

    justify-content: space-evenly;
  }

  .subscribe input,
  .subscribe button {
    padding: 10px 0;
    margin-left: 0;
  }

  .subscribe button {
    font-size: 0.75rem;
  }

  .subscribe-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

/* --- Footer section --- */
.footer {
  background-color: rgb(240, 240, 240);
}
.footer-container {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--general-border);
  border-bottom: var(--general-border);
}

.footer-logo img {
  width: 70%;
  display: block;
}

.footer-logo,
.footer-slogan,
.footer-menu,
.footer-social {
  width: 10%;
  height: 90%;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-slogan {
  width: 25%;
}

.footer-slogan h5 {
  font-size: 1rem;
}

.footer-menu ul,
.footer-social ul {
  list-style: none;
  color: black;
  text-decoration: none;
  margin: auto;
}

.footer-menu a,
.footer-social a {
  color: black;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.footer-menu a:hover,
.footer-social a:hover {
  font-weight: 600;
}

.footer-credits h5 {
  padding: 10px 0;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 200;
}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    height: unset;
    padding: unset;
    border-bottom: unset;
  }

  .footer-logo,
  .footer-slogan,
  .footer-menu,
  .footer-social {
    width: 100%;
    padding: 7px 10px;
    border-bottom: var(--general-border);
  }

  .footer-logo img {
    width: 30%;
    margin: unset;
    padding: 20px 0;
  }
  .footer-menu ul,
  .footer-social ul {
    margin: unset;
  }
}

/* ----------------------------- HOME PAGE END --------------------------- */

/* ---------------------------- LOGIN PAGE START ------------------------- */

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--general-border);
}

.login h3 {
  padding: 30px 40px;
  width: 100%;

  border-bottom: var(--general-border);
}

.login-form {
  margin: 50px;
  padding: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in {
  display: flex;
  justify-content: space-between;
}

.login-form input {
  padding: 5px 0;
  margin-bottom: 50px;
  border: unset;
  background-color: unset;
  margin-left: 20px;
  font-size: 1rem;
}
.login-form > input {
  border-bottom: var(--general-border);
}

.login-form input:focus {
  outline: none;
}

.sign-in input,
.sign-in a {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.sign-in input {
  padding: 5px;
  border: solid 1px black;
  transition: all 0.2s ease-in;
}

.sign-in input:hover,
.sign-in h4:hover {
  background-color: lightgray;
}

.sign-in h4 {
  margin-left: 20px;
  padding: 5px;
  border: solid 1px black;
  transition: all 0.2s ease-in;
}

@media (max-width: 700px) {
  .login h3 {
    padding: 20px 20px;
  }

  .login-form {
    margin: 30px;
    padding: 20px;
    width: 90%;
  }
  .sign-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* ------  Cart Section  ----------- */
#cart h3 {
  padding: 30px 40px;
  width: 100%;
  border-bottom: var(--general-border);
}
